html * {
  font-family: 'verdana';
}

body {
  height: 100%;
  width: 100%;
}

#search {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background-color: #b3a;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#search img {
  width: 150px;
  height: 75px;
  margin: 10px;
  box-shadow: 3px 3px #333;
}

#gallery {
  position: absolute;
  
  width: 100%;
  height: 80%;
  top: 20%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: #333;
}

#gallery img {
  /* img width is dynamically assigned in index.js when new elements are created */
  height: 275px;
}
